template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "workspaces_m365_archive_name": {
            "defaultValue": "m365-archive",
            "type": "String"
        },
        "storageAccounts_sqndefender365archive_name": {
            "defaultValue": "sqndefender365archive",
            "type": "String"
        },
        "workflows_Send_Defender365_data_to_Sentinel_name": {
            "defaultValue": "Send-Defender365-data-to-Sentinel",
            "type": "String"
        },
        "dataCollectionEndpoints_dce_m365_archive_basic_logs_name": {
            "defaultValue": "dce-m365-archive-basic-logs",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_alertinfo_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-alertinfo",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_deviceinfo_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-deviceinfo",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_emailevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-emailevents",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_deviceevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-deviceevents",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_emailurlinfo_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-emailurlinfo",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_alertevidence_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-alertevidence",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_cloudappevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-cloudappevents",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_devicefileevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-devicefileevents",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_devicelogonevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-devicelogonevents",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_devicenetworkinfo_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-devicenetworkinfo",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_devicenetworkevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-devicenetworkevents",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_deviceprocessevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-deviceprocessevents",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_emailattachmentinfo_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-emailattachmentinfo",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_identitylogonevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-identitylogonevents",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_deviceregistryevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-deviceregistryevents",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_deviceimageloadevents_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-deviceimageloadevents",
            "type": "String"
        },
        "integrationAccounts_integration_account_send_defender365_data_to_Sentinel_name": {
            "defaultValue": "integration-account-send-defender365-data-to-Sentinel",
            "type": "String"
        },
        "dataCollectionRules_dcr_m365_archive_basic_logs_devicefilecertificateinfo_name": {
            "defaultValue": "dcr-m365-archive-basic-logs-devicefilecertificateinfo",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Insights/dataCollectionEndpoints",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionEndpoints_dce_m365_archive_basic_logs_name')]",
            "location": "westeurope",
            "properties": {
                "immutableId": "dce-7dfe1310af88456a8a1cf7b895e9b74a",
                "configurationAccess": {},
                "logsIngestion": {},
                "networkAcls": {
                    "publicNetworkAccess": "Enabled"
                }
            }
        },
        {
            "type": "Microsoft.Logic/integrationAccounts",
            "apiVersion": "2016-06-01",
            "name": "[parameters('integrationAccounts_integration_account_send_defender365_data_to_Sentinel_name')]",
            "location": "westeurope",
            "sku": {
                "name": "Free"
            },
            "properties": {
                "state": "Enabled"
            }
        },
        {
            "type": "microsoft.operationalinsights/workspaces",
            "apiVersion": "2021-12-01-preview",
            "name": "[parameters('workspaces_m365_archive_name')]",
            "location": "westeurope",
            "properties": {
                "sku": {
                    "name": "pergb2018"
                },
                "retentionInDays": 30,
                "features": {
                    "enableLogAccessUsingOnlyResourcePermissions": true
                },
                "workspaceCapping": {
                    "dailyQuotaGb": -1
                },
                "publicNetworkAccessForIngestion": "Enabled",
                "publicNetworkAccessForQuery": "Enabled"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2021-09-01",
            "name": "[parameters('storageAccounts_sqndefender365archive_name')]",
            "location": "westeurope",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "defaultToOAuthAuthentication": false,
                "allowCrossTenantReplication": true,
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": true,
                "allowSharedKeyAccess": true,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "requireInfrastructureEncryption": false,
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureblob_name')]",
            "location": "westeurope",
            "kind": "V1",
            "properties": {
                "displayName": "sqndefender365archive",
                "statuses": [
                    {
                        "status": "Ready"
                    }
                ],
                "customParameterValues": {},
                "createdTime": "2022-03-15T15:11:27.0121469Z",
                "changedTime": "2022-03-15T15:11:29.0956222Z",
                "api": {
                    "name": "[parameters('connections_azureblob_name')]",
                    "displayName": "Azure Blob Storage",
                    "description": "Microsoft Azure Storage provides a massively scalable, durable, and highly available storage for data on the cloud, and serves as the data storage solution for modern applications. Connect to Blob Storage to perform various operations such as create, update, get and delete on blobs in your Azure Storage account.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1563/1.0.1563.2732/', parameters('connections_azureblob_name'), '/icon.png')]",
                    "brandColor": "#804998",
                    "id": "[concat('/subscriptions/b4824877-0da7-4d92-80e5-e186f01b0653/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_azureblob_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/b4824877-0da7-4d92-80e5-e186f01b0653/resourceGroups/RG-Defender-archive-test/providers/Microsoft.Web/connections/', parameters('connections_azureblob_name'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_alertevidence_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-alertevidence_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_alertinfo_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-alertinfo_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_cloudappevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-cloudappevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_deviceevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-deviceevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_devicefilecertificateinfo_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-devicefilecertificateinfo_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_devicefileevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-devicefileevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_deviceimageloadevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-deviceimageloadevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_deviceinfo_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-deviceinfo_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_devicelogonevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-devicelogonevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_devicenetworkevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-devicenetworkevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_devicenetworkinfo_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-devicenetworkinfo_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_deviceprocessevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-deviceprocessevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_deviceregistryevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-deviceregistryevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_emailattachmentinfo_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-emailattachmentinfo_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_emailevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-emailevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_emailurlinfo_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-emailurlinfo_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('dataCollectionRules_dcr_m365_archive_basic_logs_identitylogonevents_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "dataSources": {},
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_m365_archive_name'))]",
                            "name": "fd473e3878a948a3822dbcb23a13892f"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "Custom-identitylogonevents_archive_CL"
                        ],
                        "destinations": [
                            "fd473e3878a948a3822dbcb23a13892f"
                        ]
                    }
                ]
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/alertevidence_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "alertevidence_archive_CL",
                    "columns": [
                        {
                            "name": "AccountDomain",
                            "type": "dynamic"
                        },
                        {
                            "name": "AccountName",
                            "type": "dynamic"
                        },
                        {
                            "name": "AccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "AccountSid",
                            "type": "dynamic"
                        },
                        {
                            "name": "AccountUpn",
                            "type": "dynamic"
                        },
                        {
                            "name": "AdditionalFields",
                            "type": "string"
                        },
                        {
                            "name": "AlertId",
                            "type": "string"
                        },
                        {
                            "name": "Application",
                            "type": "dynamic"
                        },
                        {
                            "name": "ApplicationId",
                            "type": "dynamic"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "EmailSubject",
                            "type": "dynamic"
                        },
                        {
                            "name": "EntityType",
                            "type": "string"
                        },
                        {
                            "name": "EvidenceDirection",
                            "type": "dynamic"
                        },
                        {
                            "name": "EvidenceRole",
                            "type": "string"
                        },
                        {
                            "name": "FileName",
                            "type": "dynamic"
                        },
                        {
                            "name": "FileSize",
                            "type": "dynamic"
                        },
                        {
                            "name": "FolderPath",
                            "type": "dynamic"
                        },
                        {
                            "name": "LocalIP",
                            "type": "dynamic"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "NetworkMessageId",
                            "type": "dynamic"
                        },
                        {
                            "name": "OAuthApplicationId",
                            "type": "dynamic"
                        },
                        {
                            "name": "ProcessCommandLine",
                            "type": "dynamic"
                        },
                        {
                            "name": "RegistryKey",
                            "type": "dynamic"
                        },
                        {
                            "name": "RegistryValueData",
                            "type": "dynamic"
                        },
                        {
                            "name": "RegistryValueName",
                            "type": "dynamic"
                        },
                        {
                            "name": "RemoteIP",
                            "type": "dynamic"
                        },
                        {
                            "name": "RemoteUrl",
                            "type": "dynamic"
                        },
                        {
                            "name": "ServiceSource",
                            "type": "string"
                        },
                        {
                            "name": "SHA1",
                            "type": "dynamic"
                        },
                        {
                            "name": "SHA256",
                            "type": "dynamic"
                        },
                        {
                            "name": "ThreatFamily",
                            "type": "dynamic"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/alertinfo_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "alertinfo_archive_CL",
                    "columns": [
                        {
                            "name": "AlertId",
                            "type": "string"
                        },
                        {
                            "name": "AttackTechniques",
                            "type": "string"
                        },
                        {
                            "name": "Category",
                            "type": "string"
                        },
                        {
                            "name": "DetectionSource",
                            "type": "string"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "ServiceSource",
                            "type": "string"
                        },
                        {
                            "name": "Severity",
                            "type": "string"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "Title",
                            "type": "string"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/cloudappevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "cloudappevents_archive_CL",
                    "columns": [
                        {
                            "name": "AccountDisplayName",
                            "type": "string"
                        },
                        {
                            "name": "AccountId",
                            "type": "string"
                        },
                        {
                            "name": "AccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "AccountType",
                            "type": "string"
                        },
                        {
                            "name": "ActionType",
                            "type": "string"
                        },
                        {
                            "name": "ActivityObjects",
                            "type": "dynamic"
                        },
                        {
                            "name": "ActivityType",
                            "type": "string"
                        },
                        {
                            "name": "AdditionalFields",
                            "type": "dynamic"
                        },
                        {
                            "name": "AppInstanceId",
                            "type": "int"
                        },
                        {
                            "name": "Application",
                            "type": "datetime"
                        },
                        {
                            "name": "ApplicationId",
                            "type": "int"
                        },
                        {
                            "name": "City",
                            "type": "dynamic"
                        },
                        {
                            "name": "CountryCode",
                            "type": "dynamic"
                        },
                        {
                            "name": "DeviceType",
                            "type": "string"
                        },
                        {
                            "name": "IPAddress",
                            "type": "dynamic"
                        },
                        {
                            "name": "IPCategory",
                            "type": "dynamic"
                        },
                        {
                            "name": "IPTags",
                            "type": "dynamic"
                        },
                        {
                            "name": "IsAdminOperation",
                            "type": "boolean"
                        },
                        {
                            "name": "IsAnonymousProxy",
                            "type": "dynamic"
                        },
                        {
                            "name": "IsExternalUser",
                            "type": "boolean"
                        },
                        {
                            "name": "IsImpersonated",
                            "type": "boolean"
                        },
                        {
                            "name": "ISP",
                            "type": "dynamic"
                        },
                        {
                            "name": "ObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "ObjectName",
                            "type": "dynamic"
                        },
                        {
                            "name": "ObjectType",
                            "type": "dynamic"
                        },
                        {
                            "name": "OSPlatform",
                            "type": "string"
                        },
                        {
                            "name": "RawEventData",
                            "type": "dynamic"
                        },
                        {
                            "name": "ReportId",
                            "type": "string"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "UserAgent",
                            "type": "string"
                        },
                        {
                            "name": "UserAgentTags",
                            "type": "dynamic"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/deviceevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "deviceevents_archive_CL",
                    "columns": [
                        {
                            "name": "AccountDomain",
                            "type": "dynamic"
                        },
                        {
                            "name": "AccountName",
                            "type": "dynamic"
                        },
                        {
                            "name": "AccountSid",
                            "type": "dynamic"
                        },
                        {
                            "name": "ActionType",
                            "type": "string"
                        },
                        {
                            "name": "AdditionalFields",
                            "type": "string"
                        },
                        {
                            "name": "AppGuardContainerId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "FileName",
                            "type": "dynamic"
                        },
                        {
                            "name": "FileOriginIP",
                            "type": "dynamic"
                        },
                        {
                            "name": "FileOriginUrl",
                            "type": "dynamic"
                        },
                        {
                            "name": "FileSize",
                            "type": "int"
                        },
                        {
                            "name": "FolderPath",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessAccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessAccountSid",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessAccountUpn",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessCommandLine",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessFileSize",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessFolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessLogonId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessMD5",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessParentFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessSHA1",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessSHA256",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoCompanyName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoFileDescription",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoInternalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoOriginalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductVersion",
                            "type": "string"
                        },
                        {
                            "name": "LocalIP",
                            "type": "dynamic"
                        },
                        {
                            "name": "LocalPort",
                            "type": "dynamic"
                        },
                        {
                            "name": "LogonId",
                            "type": "dynamic"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "MD5",
                            "type": "dynamic"
                        },
                        {
                            "name": "ProcessCommandLine",
                            "type": "dynamic"
                        },
                        {
                            "name": "ProcessCreationTime",
                            "type": "dynamic"
                        },
                        {
                            "name": "ProcessId",
                            "type": "dynamic"
                        },
                        {
                            "name": "ProcessTokenElevation",
                            "type": "dynamic"
                        },
                        {
                            "name": "RegistryKey",
                            "type": "dynamic"
                        },
                        {
                            "name": "RegistryValueData",
                            "type": "dynamic"
                        },
                        {
                            "name": "RegistryValueName",
                            "type": "dynamic"
                        },
                        {
                            "name": "RemoteDeviceName",
                            "type": "dynamic"
                        },
                        {
                            "name": "RemoteIP",
                            "type": "dynamic"
                        },
                        {
                            "name": "RemotePort",
                            "type": "dynamic"
                        },
                        {
                            "name": "RemoteUrl",
                            "type": "dynamic"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "SHA1",
                            "type": "dynamic"
                        },
                        {
                            "name": "SHA256",
                            "type": "dynamic"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/devicefilecertificateinfo_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "devicefilecertificateinfo_archive_CL",
                    "columns": [
                        {
                            "name": "CertificateCountersignatureTime",
                            "type": "datetime"
                        },
                        {
                            "name": "CertificateCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "CertificateExpirationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "CertificateSerialNumber",
                            "type": "string"
                        },
                        {
                            "name": "CrlDistributionPointUrls",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "IsRootSignerMicrosoft",
                            "type": "boolean"
                        },
                        {
                            "name": "IsSigned",
                            "type": "boolean"
                        },
                        {
                            "name": "Issuer",
                            "type": "datetime"
                        },
                        {
                            "name": "IssuerHash",
                            "type": "string"
                        },
                        {
                            "name": "IsTrusted",
                            "type": "boolean"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "SHA1",
                            "type": "string"
                        },
                        {
                            "name": "SignatureType",
                            "type": "string"
                        },
                        {
                            "name": "Signer",
                            "type": "string"
                        },
                        {
                            "name": "SignerHash",
                            "type": "string"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/devicefileevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "devicefileevents_archive_CL",
                    "columns": [
                        {
                            "name": "ActionType",
                            "type": "string"
                        },
                        {
                            "name": "AdditionalFields",
                            "type": "dynamic"
                        },
                        {
                            "name": "AppGuardContainerId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "FileName",
                            "type": "string"
                        },
                        {
                            "name": "FileOriginIP",
                            "type": "dynamic"
                        },
                        {
                            "name": "FileOriginReferrerUrl",
                            "type": "dynamic"
                        },
                        {
                            "name": "FileOriginUrl",
                            "type": "dynamic"
                        },
                        {
                            "name": "FileSize",
                            "type": "int"
                        },
                        {
                            "name": "FolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessAccountSid",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessAccountUpn",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessCommandLine",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessFileSize",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessFolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessIntegrityLevel",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessMD5",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessParentFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessSHA1",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessSHA256",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessTokenElevation",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoCompanyName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoFileDescription",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoInternalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoOriginalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductVersion",
                            "type": "string"
                        },
                        {
                            "name": "IsAzureInfoProtectionApplied",
                            "type": "dynamic"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "MD5",
                            "type": "string"
                        },
                        {
                            "name": "PreviousFileName",
                            "type": "string"
                        },
                        {
                            "name": "PreviousFolderPath",
                            "type": "string"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "RequestAccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "RequestAccountName",
                            "type": "string"
                        },
                        {
                            "name": "RequestAccountSid",
                            "type": "datetime"
                        },
                        {
                            "name": "RequestProtocol",
                            "type": "string"
                        },
                        {
                            "name": "RequestSourceIP",
                            "type": "dynamic"
                        },
                        {
                            "name": "RequestSourcePort",
                            "type": "dynamic"
                        },
                        {
                            "name": "SensitivityLabel",
                            "type": "dynamic"
                        },
                        {
                            "name": "SensitivitySubLabel",
                            "type": "dynamic"
                        },
                        {
                            "name": "SHA1",
                            "type": "string"
                        },
                        {
                            "name": "SHA256",
                            "type": "string"
                        },
                        {
                            "name": "ShareName",
                            "type": "dynamic"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/deviceimageloadevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "deviceimageloadevents_archive_CL",
                    "columns": [
                        {
                            "name": "ActionType",
                            "type": "string"
                        },
                        {
                            "name": "AppGuardContainerId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "FileName",
                            "type": "string"
                        },
                        {
                            "name": "FileSize",
                            "type": "int"
                        },
                        {
                            "name": "FolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessAccountSid",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountUpn",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessCommandLine",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessFileSize",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessFolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessIntegrityLevel",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessMD5",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessParentFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessSHA1",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessSHA256",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessTokenElevation",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoCompanyName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoFileDescription",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoInternalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoOriginalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductVersion",
                            "type": "string"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "MD5",
                            "type": "string"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "SHA1",
                            "type": "string"
                        },
                        {
                            "name": "SHA256",
                            "type": "string"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/deviceinfo_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "deviceinfo_archive_CL",
                    "columns": [
                        {
                            "name": "AadDeviceId",
                            "type": "string"
                        },
                        {
                            "name": "AdditionalFields",
                            "type": "string"
                        },
                        {
                            "name": "ClientVersion",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "DeviceObjectId",
                            "type": "string"
                        },
                        {
                            "name": "IsAzureADJoined",
                            "type": "boolean"
                        },
                        {
                            "name": "JoinType",
                            "type": "string"
                        },
                        {
                            "name": "LoggedOnUsers",
                            "type": "string"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "OnboardingStatus",
                            "type": "string"
                        },
                        {
                            "name": "OSArchitecture",
                            "type": "dynamic"
                        },
                        {
                            "name": "OSBuild",
                            "type": "dynamic"
                        },
                        {
                            "name": "OSPlatform",
                            "type": "dynamic"
                        },
                        {
                            "name": "OSVersion",
                            "type": "dynamic"
                        },
                        {
                            "name": "PublicIP",
                            "type": "string"
                        },
                        {
                            "name": "RegistryDeviceTag",
                            "type": "dynamic"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/devicelogonevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "devicelogonevents_archive_CL",
                    "columns": [
                        {
                            "name": "AccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "AccountName",
                            "type": "datetime"
                        },
                        {
                            "name": "AccountSid",
                            "type": "dynamic"
                        },
                        {
                            "name": "ActionType",
                            "type": "string"
                        },
                        {
                            "name": "AdditionalFields",
                            "type": "string"
                        },
                        {
                            "name": "AppGuardContainerId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "FailureReason",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessAccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessAccountSid",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessAccountUpn",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessCommandLine",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessFileSize",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessFolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessIntegrityLevel",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessMD5",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessParentFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessSHA1",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessSHA256",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessTokenElevation",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoCompanyName",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoFileDescription",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoInternalFileName",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoOriginalFileName",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductName",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductVersion",
                            "type": "dynamic"
                        },
                        {
                            "name": "IsLocalAdmin",
                            "type": "dynamic"
                        },
                        {
                            "name": "LogonId",
                            "type": "dynamic"
                        },
                        {
                            "name": "LogonType",
                            "type": "string"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "Protocol",
                            "type": "dynamic"
                        },
                        {
                            "name": "RemoteDeviceName",
                            "type": "dynamic"
                        },
                        {
                            "name": "RemoteIP",
                            "type": "string"
                        },
                        {
                            "name": "RemoteIPType",
                            "type": "dynamic"
                        },
                        {
                            "name": "RemotePort",
                            "type": "dynamic"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/devicenetworkevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "devicenetworkevents_archive_CL",
                    "columns": [
                        {
                            "name": "ActionType",
                            "type": "string"
                        },
                        {
                            "name": "AdditionalFields",
                            "type": "dynamic"
                        },
                        {
                            "name": "AppGuardContainerId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessAccountSid",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessAccountUpn",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessCommandLine",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessFileSize",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessFolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessIntegrityLevel",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessMD5",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessParentFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessSHA1",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessSHA256",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessTokenElevation",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoCompanyName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoFileDescription",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoInternalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoOriginalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductVersion",
                            "type": "string"
                        },
                        {
                            "name": "LocalIP",
                            "type": "string"
                        },
                        {
                            "name": "LocalIPType",
                            "type": "string"
                        },
                        {
                            "name": "LocalPort",
                            "type": "int"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "Protocol",
                            "type": "string"
                        },
                        {
                            "name": "RemoteIP",
                            "type": "string"
                        },
                        {
                            "name": "RemoteIPType",
                            "type": "string"
                        },
                        {
                            "name": "RemotePort",
                            "type": "int"
                        },
                        {
                            "name": "RemoteUrl",
                            "type": "string"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/devicenetworkinfo_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "devicenetworkinfo_archive_CL",
                    "columns": [
                        {
                            "name": "ConnectedNetworks",
                            "type": "string"
                        },
                        {
                            "name": "DefaultGateways",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "DnsAddresses",
                            "type": "string"
                        },
                        {
                            "name": "IPAddresses",
                            "type": "string"
                        },
                        {
                            "name": "IPv4Dhcp",
                            "type": "string"
                        },
                        {
                            "name": "IPv6Dhcp",
                            "type": "string"
                        },
                        {
                            "name": "MacAddress",
                            "type": "string"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "NetworkAdapterName",
                            "type": "string"
                        },
                        {
                            "name": "NetworkAdapterStatus",
                            "type": "string"
                        },
                        {
                            "name": "NetworkAdapterType",
                            "type": "string"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TunnelType",
                            "type": "string"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/deviceprocessevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "deviceprocessevents_archive_CL",
                    "columns": [
                        {
                            "name": "AccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "AccountName",
                            "type": "string"
                        },
                        {
                            "name": "AccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "AccountSid",
                            "type": "datetime"
                        },
                        {
                            "name": "AccountUpn",
                            "type": "dynamic"
                        },
                        {
                            "name": "ActionType",
                            "type": "string"
                        },
                        {
                            "name": "AdditionalFields",
                            "type": "dynamic"
                        },
                        {
                            "name": "AppGuardContainerId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "FileName",
                            "type": "string"
                        },
                        {
                            "name": "FileSize",
                            "type": "int"
                        },
                        {
                            "name": "FolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessAccountSid",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessAccountUpn",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessCommandLine",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessFileSize",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessFolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessIntegrityLevel",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessLogonId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessMD5",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessParentFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessSHA1",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessSHA256",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessSignatureStatus",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessSignerType",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessTokenElevation",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoCompanyName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoFileDescription",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoInternalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoOriginalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductVersion",
                            "type": "string"
                        },
                        {
                            "name": "LogonId",
                            "type": "int"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "MD5",
                            "type": "string"
                        },
                        {
                            "name": "ProcessCommandLine",
                            "type": "string"
                        },
                        {
                            "name": "ProcessCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "ProcessId",
                            "type": "int"
                        },
                        {
                            "name": "ProcessIntegrityLevel",
                            "type": "string"
                        },
                        {
                            "name": "ProcessTokenElevation",
                            "type": "string"
                        },
                        {
                            "name": "ProcessVersionInfoCompanyName",
                            "type": "string"
                        },
                        {
                            "name": "ProcessVersionInfoFileDescription",
                            "type": "string"
                        },
                        {
                            "name": "ProcessVersionInfoInternalFileName",
                            "type": "string"
                        },
                        {
                            "name": "ProcessVersionInfoOriginalFileName",
                            "type": "string"
                        },
                        {
                            "name": "ProcessVersionInfoProductName",
                            "type": "string"
                        },
                        {
                            "name": "ProcessVersionInfoProductVersion",
                            "type": "string"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "SHA1",
                            "type": "string"
                        },
                        {
                            "name": "SHA256",
                            "type": "string"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/deviceregistryevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "deviceregistryevents_archive_CL",
                    "columns": [
                        {
                            "name": "ActionType",
                            "type": "string"
                        },
                        {
                            "name": "AppGuardContainerId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceId",
                            "type": "string"
                        },
                        {
                            "name": "DeviceName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessAccountObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessAccountSid",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessAccountUpn",
                            "type": "dynamic"
                        },
                        {
                            "name": "InitiatingProcessCommandLine",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessFileSize",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessFolderPath",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessIntegrityLevel",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessMD5",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentCreationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "InitiatingProcessParentFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessParentId",
                            "type": "int"
                        },
                        {
                            "name": "InitiatingProcessSHA1",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessSHA256",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessTokenElevation",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoCompanyName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoFileDescription",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoInternalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoOriginalFileName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductName",
                            "type": "string"
                        },
                        {
                            "name": "InitiatingProcessVersionInfoProductVersion",
                            "type": "string"
                        },
                        {
                            "name": "MachineGroup",
                            "type": "string"
                        },
                        {
                            "name": "PreviousRegistryKey",
                            "type": "string"
                        },
                        {
                            "name": "PreviousRegistryValueData",
                            "type": "dynamic"
                        },
                        {
                            "name": "PreviousRegistryValueName",
                            "type": "dynamic"
                        },
                        {
                            "name": "RegistryKey",
                            "type": "string"
                        },
                        {
                            "name": "RegistryValueData",
                            "type": "dynamic"
                        },
                        {
                            "name": "RegistryValueName",
                            "type": "dynamic"
                        },
                        {
                            "name": "RegistryValueType",
                            "type": "string"
                        },
                        {
                            "name": "ReportId",
                            "type": "int"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/emailattachmentinfo_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "emailattachmentinfo_archive_CL",
                    "columns": [
                        {
                            "name": "DetectionMethods",
                            "type": "dynamic"
                        },
                        {
                            "name": "FileName",
                            "type": "string"
                        },
                        {
                            "name": "FileSize",
                            "type": "int"
                        },
                        {
                            "name": "FileType",
                            "type": "string"
                        },
                        {
                            "name": "NetworkMessageId",
                            "type": "string"
                        },
                        {
                            "name": "RecipientEmailAddress",
                            "type": "string"
                        },
                        {
                            "name": "RecipientObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "ReportId",
                            "type": "string"
                        },
                        {
                            "name": "SenderDisplayName",
                            "type": "dynamic"
                        },
                        {
                            "name": "SenderFromAddress",
                            "type": "string"
                        },
                        {
                            "name": "SenderObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "SHA256",
                            "type": "string"
                        },
                        {
                            "name": "ThreatNames",
                            "type": "dynamic"
                        },
                        {
                            "name": "ThreatTypes",
                            "type": "dynamic"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/emailevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "emailevents_archive_CL",
                    "columns": [
                        {
                            "name": "AdditionalFields",
                            "type": "dynamic"
                        },
                        {
                            "name": "AttachmentCount",
                            "type": "int"
                        },
                        {
                            "name": "AuthenticationDetails",
                            "type": "string"
                        },
                        {
                            "name": "ConfidenceLevel",
                            "type": "dynamic"
                        },
                        {
                            "name": "Connectors",
                            "type": "dynamic"
                        },
                        {
                            "name": "DeliveryAction",
                            "type": "string"
                        },
                        {
                            "name": "DeliveryLocation",
                            "type": "string"
                        },
                        {
                            "name": "DetectionMethods",
                            "type": "dynamic"
                        },
                        {
                            "name": "EmailAction",
                            "type": "dynamic"
                        },
                        {
                            "name": "EmailActionPolicy",
                            "type": "dynamic"
                        },
                        {
                            "name": "EmailActionPolicyGuid",
                            "type": "dynamic"
                        },
                        {
                            "name": "EmailClusterId",
                            "type": "long"
                        },
                        {
                            "name": "EmailDirection",
                            "type": "string"
                        },
                        {
                            "name": "EmailLanguage",
                            "type": "string"
                        },
                        {
                            "name": "InternetMessageId",
                            "type": "string"
                        },
                        {
                            "name": "NetworkMessageId",
                            "type": "string"
                        },
                        {
                            "name": "OrgLevelAction",
                            "type": "dynamic"
                        },
                        {
                            "name": "OrgLevelPolicy",
                            "type": "dynamic"
                        },
                        {
                            "name": "RecipientEmailAddress",
                            "type": "string"
                        },
                        {
                            "name": "RecipientObjectId",
                            "type": "string"
                        },
                        {
                            "name": "ReportId",
                            "type": "string"
                        },
                        {
                            "name": "SenderDisplayName",
                            "type": "string"
                        },
                        {
                            "name": "SenderFromAddress",
                            "type": "string"
                        },
                        {
                            "name": "SenderFromDomain",
                            "type": "string"
                        },
                        {
                            "name": "SenderIPv4",
                            "type": "string"
                        },
                        {
                            "name": "SenderIPv6",
                            "type": "dynamic"
                        },
                        {
                            "name": "SenderMailFromAddress",
                            "type": "string"
                        },
                        {
                            "name": "SenderMailFromDomain",
                            "type": "string"
                        },
                        {
                            "name": "SenderObjectId",
                            "type": "dynamic"
                        },
                        {
                            "name": "Subject",
                            "type": "string"
                        },
                        {
                            "name": "ThreatNames",
                            "type": "dynamic"
                        },
                        {
                            "name": "ThreatTypes",
                            "type": "dynamic"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "UrlCount",
                            "type": "int"
                        },
                        {
                            "name": "UserLevelAction",
                            "type": "dynamic"
                        },
                        {
                            "name": "UserLevelPolicy",
                            "type": "dynamic"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/emailurlinfo_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "emailurlinfo_archive_CL",
                    "columns": [
                        {
                            "name": "NetworkMessageId",
                            "type": "string"
                        },
                        {
                            "name": "ReportId",
                            "type": "string"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "Url",
                            "type": "string"
                        },
                        {
                            "name": "UrlDomain",
                            "type": "string"
                        },
                        {
                            "name": "UrlLocation",
                            "type": "string"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2021-12-01-preview",
            "name": "[concat(parameters('workspaces_m365_archive_name'), '/identitylogonevents_archive_CL')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_m365_archive_name'))]"
            ],
            "properties": {
                "totalRetentionInDays": 8,
                "plan": "Basic",
                "schema": {
                    "name": "identitylogonevents_archive_CL",
                    "columns": [
                        {
                            "name": "AccountDisplayName",
                            "type": "string"
                        },
                        {
                            "name": "AccountDomain",
                            "type": "string"
                        },
                        {
                            "name": "AccountName",
                            "type": "string"
                        },
                        {
                            "name": "AccountObjectId",
                            "type": "string"
                        },
                        {
                            "name": "AccountSid",
                            "type": "dynamic"
                        },
                        {
                            "name": "AccountUpn",
                            "type": "string"
                        },
                        {
                            "name": "ActionType",
                            "type": "string"
                        },
                        {
                            "name": "AdditionalFields",
                            "type": "dynamic"
                        },
                        {
                            "name": "Application",
                            "type": "string"
                        },
                        {
                            "name": "DestinationDeviceName",
                            "type": "dynamic"
                        },
                        {
                            "name": "DestinationIPAddress",
                            "type": "dynamic"
                        },
                        {
                            "name": "DestinationPort",
                            "type": "dynamic"
                        },
                        {
                            "name": "DeviceName",
                            "type": "dynamic"
                        },
                        {
                            "name": "DeviceType",
                            "type": "string"
                        },
                        {
                            "name": "FailureReason",
                            "type": "dynamic"
                        },
                        {
                            "name": "IPAddress",
                            "type": "string"
                        },
                        {
                            "name": "ISP",
                            "type": "string"
                        },
                        {
                            "name": "Location",
                            "type": "string"
                        },
                        {
                            "name": "LogonType",
                            "type": "string"
                        },
                        {
                            "name": "OSPlatform",
                            "type": "datetime"
                        },
                        {
                            "name": "Port",
                            "type": "dynamic"
                        },
                        {
                            "name": "Protocol",
                            "type": "dynamic"
                        },
                        {
                            "name": "ReportId",
                            "type": "string"
                        },
                        {
                            "name": "TargetAccountDisplayName",
                            "type": "dynamic"
                        },
                        {
                            "name": "TargetDeviceName",
                            "type": "dynamic"
                        },
                        {
                            "name": "Timestamp",
                            "type": "datetime"
                        },
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        }
                    ]
                },
                "retentionInDays": 8
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2021-09-01",
            "name": "[concat(parameters('storageAccounts_sqndefender365archive_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_sqndefender365archive_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "changeFeed": {
                    "enabled": false
                },
                "restorePolicy": {
                    "enabled": false
                },
                "containerDeleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                },
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "allowPermanentDelete": false,
                    "enabled": true,
                    "days": 7
                },
                "isVersioningEnabled": false
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Send_Defender365_data_to_Sentinel_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccounts_integration_account_send_defender365_data_to_Sentinel_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "integrationAccount": {
                    "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('integrationAccounts_integration_account_send_defender365_data_to_Sentinel_name'))]"
                },
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Daily_at_01:00_UTC+1": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "startTime": "2022-03-21T01:00:00Z",
                                "timeZone": "W. Europe Standard Time"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "startTime": "2022-03-21T01:00:00Z",
                                "timeZone": "W. Europe Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each_blob_root_folder": {
                            "foreach": "@body('Lists_blobs_in_the_root_folder')?['value']",
                            "actions": {
                                "Compose_custom_log_table_name": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@concat(split(items('For_each_blob_root_folder')?['Name'],'-')[3],variables('customTableSuffix'))"
                                },
                                "Compose_full_dcrName": {
                                    "runAfter": {
                                        "Compose_custom_log_table_name": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@concat('dcr-m365-archive-basic-logs-',split(items('For_each_blob_root_folder')?['Name'],'-')[3])"
                                },
                                "For_each_hourly_sub-container": {
                                    "foreach": "@body('Lists_blob_sub-containers_(hourly_folders)')?['value']",
                                    "actions": {
                                        "Compose_body_by_fixing_JSON_structure": {
                                            "runAfter": {
                                                "Get_blob_contents": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@{concat('[',replace(string(body('Get_blob_contents')),'\r\n{',',{'),']')}"
                                        },
                                        "For_each_data_element": {
                                            "foreach": "@body('Parse_string_into_JSON_array_so_that_only_''properties''_can_be_processed')",
                                            "actions": {
                                                "Post_logfile_to_Data_Collection_Endpoint": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://monitor.azure.com/",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "body": [
                                                            "@items('For_each_data_element')?['properties']"
                                                        ],
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "@{variables('dceUri')}/dataCollectionRules/@{body('Retrieve_respective_dcrImmutableId')}/streams/Custom-@{outputs('Compose_custom_log_table_name')}?api-version=2021-11-01-preview"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_string_into_JSON_array_so_that_only_'properties'_can_be_processed": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Get_blob_contents": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('sqndefender365archive'))}/GetFileContentByPath",
                                                "queries": {
                                                    "inferContentType": true,
                                                    "path": "/@{items('For_each_blob_root_folder')?['Name']}/tenantId=@{variables('tenantId')}/y=@{variables('year')}/m=@{variables('month')}/d=@{variables('day')}/@{items('For_each_hourly_sub-container')?['Name']}m=00/PT1H.json",
                                                    "queryParametersSingleEncoded": true
                                                }
                                            }
                                        },
                                        "Parse_string_into_JSON_array_so_that_only_'properties'_can_be_processed": {
                                            "runAfter": {
                                                "Compose_body_by_fixing_JSON_structure": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@outputs('Compose_body_by_fixing_JSON_structure')",
                                                "schema": {
                                                    "items": {
                                                        "properties": {
                                                            "properties": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Lists_blob_sub-containers_(hourly_folders)": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Lists_blob_sub-containers_(hourly_folders)": {
                                    "runAfter": {
                                        "Retrieve_respective_dcrImmutableId": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('sqndefender365archive'))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/',items('For_each_blob_root_folder')?['Name'],'/tenantId=',variables('tenantId'),'/y=',variables('year'),'/m=',variables('month'),'/d=',variables('day')))}",
                                        "queries": {
                                            "nextPageMarker": "",
                                            "useFlatListing": false
                                        }
                                    }
                                },
                                "Retrieve_respective_dcrImmutableId": {
                                    "runAfter": {
                                        "Compose_full_dcrName": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "JavaScriptCode",
                                    "inputs": {
                                        "code": "var content = workflowContext.actions.Parse_dataCollectionRules.outputs.body.content;\r\n\r\nvar dcrName = \"\" + workflowContext.actions.Compose_full_dcrName.outputs;\r\n\r\nvar result = \"\";\r\n\r\ncontent.forEach(item=>{\r\n    if(item.dcrName == dcrName){\r\n        result = item.dcrImmutableId;\r\n    }\r\n});\r\n\r\nreturn result;"
                                    }
                                }
                            },
                            "runAfter": {
                                "Lists_blobs_in_the_root_folder": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_'customTableSuffix'_variable": {
                            "runAfter": {
                                "Initialize_'dceUri'_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "customTableSuffix",
                                        "type": "string",
                                        "value": "_archive_CL"
                                    }
                                ]
                            }
                        },
                        "Initialize_'dataCollectionRules'_variable": {
                            "runAfter": {
                                "Initialize_'customTableSuffix'_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "dataCollectionRules",
                                        "type": "string",
                                        "value": "{\n    \"content\": [\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-alertevidence\",\n            \"dcrImmutableId\": \"dcr-eb687de6777249729c90e208d908bc9f\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-alertinfo\",\n            \"dcrImmutableId\": \"dcr-190b7380726e49d58691b2e1eaaed795\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-cloudappevents\",\n            \"dcrImmutableId\": \"dcr-ff22f5db896648babd803cdf51fd66c3\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-deviceevents\",\n            \"dcrImmutableId\": \"dcr-a91d0bf8793d4980ad4d84696daa366c\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-devicefilecertificateinfo\",\n            \"dcrImmutableId\": \"dcr-c7db50ac15c94ba1ad26c04dbf7819b8\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-devicefileevents\",\n            \"dcrImmutableId\": \"dcr-89e8d8434567401ab18c3f3f989694eb\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-deviceimageloadevents\",\n            \"dcrImmutableId\": \"dcr-0159a433fd77496eb6726b6a746c3f65\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-deviceinfo\",\n            \"dcrImmutableId\": \"dcr-ed37a1d1bea34789aa91640deb9f1a75\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-devicelogonevents\",\n            \"dcrImmutableId\": \"dcr-e546639ea7df4fda8ed43edc75abba7d\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-devicenetworkevents\",\n            \"dcrImmutableId\": \"dcr-cb9b5e740c704552ac2dc0a7aaf07d29\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-devicenetworkinfo\",\n            \"dcrImmutableId\": \"dcr-4a9442f861744e26ad34a91a00c0cf12\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-deviceprocessevents\",\n            \"dcrImmutableId\": \"dcr-ad15ceef43b542ed912f8923cb4f6d04\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-deviceregistryevents\",\n            \"dcrImmutableId\": \"dcr-b3ad9f96fd72438aa9c12890323a799e\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-emailattachmentinfo\",\n            \"dcrImmutableId\": \"dcr-68b121ba139a4e93bf97e8ba1332f8fc\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-emailevents\",\n            \"dcrImmutableId\": \"dcr-0cab37efab5f4a8fa626baf083a7370d\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-emailurlinfo\",\n            \"dcrImmutableId\": \"dcr-0bce2872c6074a9f9c42940c2d2821e5\"\n        },\n        {\n            \"dcrName\": \"dcr-m365-archive-basic-logs-identitylogonevents\",\n            \"dcrImmutableId\": \"dcr-ce97a64fb7f64dc4af5e9f3d49392924\"\n        }\n    ]\n}"
                                    }
                                ]
                            }
                        },
                        "Initialize_'day'_variable": {
                            "runAfter": {
                                "Initialize_'month'_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "day",
                                        "type": "string",
                                        "value": "@{formatDateTime(addDays(utcNow(), -1), 'dd')}"
                                    }
                                ]
                            }
                        },
                        "Initialize_'dceUri'_variable": {
                            "runAfter": {
                                "Initialize_'day'_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "dceUri",
                                        "type": "string",
                                        "value": "https://dce-m365-archive-basic-logs-p9jh.westeurope-1.ingest.monitor.azure.com"
                                    }
                                ]
                            }
                        },
                        "Initialize_'month'_variable": {
                            "runAfter": {
                                "Initialize_'year'_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "month",
                                        "type": "string",
                                        "value": "@{formatDateTime(addDays(utcNow(), -1), 'MM')}"
                                    }
                                ]
                            }
                        },
                        "Initialize_'tenantId'_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "tenantId",
                                        "type": "string",
                                        "value": "da2d1fdd-f4f7-4483-960e-9742e3742ef4"
                                    }
                                ]
                            }
                        },
                        "Initialize_'year'_variable": {
                            "runAfter": {
                                "Initialize_'tenantId'_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "year",
                                        "type": "string",
                                        "value": "@{formatDateTime(addDays(utcNow(), -1), 'yyyy')}"
                                    }
                                ]
                            }
                        },
                        "Lists_blobs_in_the_root_folder": {
                            "runAfter": {
                                "Parse_dataCollectionRules": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('sqndefender365archive'))}/foldersV2",
                                "queries": {
                                    "nextPageMarker": "",
                                    "useFlatListing": false
                                }
                            }
                        },
                        "Parse_dataCollectionRules": {
                            "runAfter": {
                                "Initialize_'dataCollectionRules'_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@variables('dataCollectionRules')",
                                "schema": {
                                    "properties": {
                                        "content": {
                                            "items": {
                                                "properties": {
                                                    "dcrImmutableId": {
                                                        "type": "string"
                                                    },
                                                    "dcrName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                                "connectionName": "azureblob",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "/subscriptions/b4824877-0da7-4d92-80e5-e186f01b0653/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
                            }
                        }
                    }
                }
            }
        }
    ]
}